# Ignore the build and lib dirs
build*/*
archive/*
local_scripts/*
tests/data/*
example/inference*
cmake_commands.txt
R/*
.idea/*

# Data 
example/*out.gz
example/lemma_interim_files/*
example/.lemma_files/*
example/gplemma*
unit/data/lemma_interim_files/*
unit/data/test*

# Ignore any executables
bin/*
unit/tests

# garbage files
*.gch
Makefile
.idea/*
.DS_Store*
.Rproj.user
.Rhistory
*.Rpoj
*.json
*.code-workspace
*.cfg
*.html
.DS_Store
.idea/*
latest_compile_branch.txt
Cmakefiles/*
Makefile

# tests/ executables
tests/tests-main.o
tests/tests-main
tests/tests

examples/test_code
examples/test_gaussian
examples/test_genotype_mat
examples/test_updates
examples/test_updates_constants_out_of_loop
examples/test_updates_internal_dot
examples/test_mkl_Xtv
site/
cinder/
